<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/404.css">
    <title>404</title>
</head>

<body>
    <h1>404</h1>
    <p>Pagina o recurso no encontrado o desabilitado temporal o permanentemente</p>
    <img src="img/Fuego.jpg" alt="">
</body>

</html>